# ─── App Settings ──────────────────────────────────
PORT=3013
MOOD=dev
NODE_ENV=development

# ─── PostgreSQL ───────────────────────────────────
POSTGRES_USER=your_postgres_user
POSTGRES_PASSWORD=your_postgres_password
POSTGRES_DB=your_postgres_db
DATABASE_URL=postgresql://your_postgres_user:your_postgres_password@localhost:5443/your_postgres_db

# ─── Redis ───────────────────────────────────────
REDIS_URL="redis://localhost:6393"

# ─── pgAdmin ─────────────────────────────────────
PGADMIN_DEFAULT_EMAIL=admin@example.com
PGADMIN_DEFAULT_PASSWORD=admin_password

# ─── Security Settings ───────────────────────────
ENCRYPT_KEY=your_encrypt_key
SALT=10
JWT_SECRET="your_jwt_secret"
JWT_SECRET_ACCESS_ADMIN="your_jwt_secret_access_admin"
JWT_SECRET_REFRESH_ADMIN="your_jwt_secret_refresh_admin"

# ─── Gmail Service ───────────────────────────────
APP_EMAIL="your_email@gmail.com"
APP_PASSWORD="your_app_password"
GOOGLE_CLIENT_ID="your_google_client_id"
CORS_ORIGINS=http://localhost:3000,http://localhost:5173,https://dashboard.example.com

# ─── Cloudinary Settings ───────────────────────────
CLOUD_NAME=your_cloud_name
API_KEY=your_cloudinary_api_key
API_SECRET=your_cloudinary_api_secret

# ─── SMTP Mailer Settings ─────────────────────────
MAIL_HOST="mail.example.com"
MAIL_PORT="465"
MAIL_USER="no-reply@example.com"
MAIL_PASS="your_mail_password"
MAIL_FROM="no-reply@example.com"

# ─── General Services ─────────────────────────────
QR_URL=https://dashboard.example.com/offline-page

# ─── Jitsi Settings ───────────────────────────────
JITSI_APP_ID=mr_mahmoud
JITSI_AUDIENCE=jitsi
JITSI_JWT_SECRET=your_jitsi_jwt_secret

# ─── Firebase Settings ───────────────────────────
FIREBASE_TYPE="service_account"
FIREBASE_PROJECT_ID="your_firebase_project_id"
FIREBASE_PRIVATE_KEY_ID="your_firebase_private_key_id"
FIREBASE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nYOUR_PRIVATE_KEY\n-----END PRIVATE KEY-----\n"
FIREBASE_CLIENT_EMAIL="firebase-adminsdk@your_project.iam.gserviceaccount.com"
FIREBASE_CLIENT_ID="your_client_id"
FIREBASE_AUTH_URI="https://accounts.google.com/o/oauth2/auth"
FIREBASE_TOKEN_URI="https://oauth2.googleapis.com/token"
FIREBASE_AUTH_PROVIDER_X509_CERT_URL="https://www.googleapis.com/oauth2/v1/certs"
FIREBASE_CLIENT_X509_CERT_URL="https://www.googleapis.com/robot/v1/metadata/x509/firebase-adminsdk..."
FIREBASE_UNIVERSE_DOMAIN="googleapis.com"
